@model Cuba.Models.Article

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.word_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.word_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pub_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lead_paragraph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lead_paragraph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_url)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
