@model Cuba.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.word_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.word_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pub_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lead_paragraph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lead_paragraph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
